<div class="container">
  <div class="page-header">
    <h2>Cadastro de NFe</h2>
    <button class="button-add" mat-button routerLink="/nfe/new">
      Adicionar
    </button>
  </div>

  <div class="page-content">
    <div class="page-search">
      <app-search-simple [search]="search"></app-search-simple>
    </div>

    <table class="basic-table" mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="serie">
        <th mat-header-cell *matHeaderCellDef> Série </th>
        <td mat-cell *matCellDef="let element"> {{element.serie}} </td>
      </ng-container>

      <ng-container matColumnDef="numero">
        <th mat-header-cell *matHeaderCellDef> Número </th>
        <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div class="table-actions" [matMenuTriggerFor]="actions">
            <span>Ações</span>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </div>
          <mat-menu #actions="matMenu">
            <button mat-menu-item [routerLink]="'/nfe/' + element.id">
              <span>Editar</span>
            </button>
            <button mat-menu-item (click)="delete(element.id)">
              <span>Remover</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Nenhum resultado encontrado</td>
      </tr>
    </table>

    <mat-paginator [length]="tableLength" [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<app-loading-full [loadingFull]="loadingFull"></app-loading-full>
