<div class="login">
  <div class="login-form">
    <div class="login-form-content">
      <h1>controle<i>Dois</i></h1>
      <p>Recuperar senha</p>
      <p class="text">Para recuperar sua senha, digite abaixo o e-mail que você usa para acessar o eebu</p>

      <div class="basic-form">
        <form [formGroup]="myForm">
          <label>
            <span class="field">E-mail</span>
            <input formControlName="email" type="email" placeholder="Insira o email de sua conta">
          </label>
        </form>
      </div>

      <div class="sign">
        <button mat-button routerLink="/auth/signin">Cancelar</button>
        <button class="register" mat-button (click)="recover()">Recuperar Senha</button>
      </div>
    </div>
  </div>
</div>

<app-loading-full [loadingFull]="loadingFull"></app-loading-full>
