<div class="container">
  <div class="page-content">
    <div class="basic">
      <app-basic-form-navigation class="hide-62em" [navigation]="navigation"></app-basic-form-navigation>

      <div class="basic-form">
        <app-page-header [header]="pageHeader"></app-page-header>

        <form [formGroup]="myForm">
          <mat-tab-group [selectedIndex]="navigation.selectedItem" class="tab-no-labels">
            <div formGroupName="people">
              <mat-tab>
                <div class="label-group">
                  <label class="label-w30">
                    <span class="field">Tipo de pessoa</span>
                    <select formControlName="people_type">
                      <option *ngFor="let role of peopleRole" [value]="role.type">{{ role.name }}
                      </option>
                    </select>
                  </label>

                  <label class="label-w30">
                    <div class="double-spans">
                      <span class="field">{{myForm.value.people.people_type == 0 ? 'CPF' : 'CNPJ'}}</span>
                      <span *ngIf="myForm.value.people.people_type != 0" class="field-right-search" (click)="getCNPJ()">Consultar CNPJ</span>
                    </div>
                    <input [ngClass]="{'errorValidation': getValidation('document')}" formControlName="document" type="text"
                      [mask]="myForm.value.people.people_type == 0 ? '000.000.000-00' : '00.000.000/0000-00'">
                  </label>

                  <label class="label-w100">
                    <span class="field">{{myForm.value.people.people_type == 0 ? 'Nome' : 'Nome Fantasia'}}</span>
                    <input [ngClass]="{'errorValidation': getValidation('name')}" formControlName="name" type="text" placeholder="Ex: Empresa fulano de tal">
                  </label>
                </div>

                <div class="label-group">
                  <label *ngIf="myForm.value.people.people_type == 0">
                    <span class="field">RG</span>
                    <input [ngClass]="{'errorValidation': getValidation('general_record')}" formControlName="general_record" type="text">
                  </label>

                  <label class="label-w100">
                    <span class="field">E-mail principal</span>
                    <input formControlName="email" type="email">
                  </label>

                  <label class="label-w30">
                    <span class="field">Telefone comercial</span>
                    <input formControlName="phone" type="text">
                  </label>

                  <label class="label-w30">
                    <span class="field">{{myForm.value.people.people_type == 0 ? 'Nascimento' : 'Data abertura'}}</span>
                    <input [ngClass]="{'errorValidation': getValidation('birth')}" formControlName="birth" type="date">
                  </label>
                </div>
              </mat-tab>

              <mat-tab>
                <div class="label-group" *ngIf="myForm.value.people.people_type == 1">
                  <label class="label-w100">
                    <span class="field">Razão social:</span>
                    <input formControlName="social_name" type="text" placeholder="Nome registrado da empresa">
                  </label>

                  <label class="check">
                    <input type="checkbox" formControlName="simple">
                    <span>Optante pelo simples?</span>
                  </label>
                </div>

                <div class="label-group">
                  <label class="label-w30">
                    <span class="field">In. Inscrição Estadual:</span>
                    <select formControlName="state_registration_indicator">
                      <option *ngFor="let state of stateRegistrationIndicator" [value]="state.type">{{ state.name }}
                      </option>
                    </select>
                  </label>

                  <label *ngIf="myForm.value.people.state_registration_indicator != 2">
                    <span class="field">Inscrição Estadual:</span>
                    <input formControlName="state_registration" type="text" placeholder="Número da inscrição estadual">
                  </label>

                  <label *ngIf="myForm.value.people_type == 1">
                    <span class="field">Inscrição municipal:</span>
                    <input formControlName="municipal_registration" type="text" placeholder="Número da inscrição municipal">
                  </label>

                  <label *ngIf="myForm.value.people_type == 1">
                    <span class="field">Inscrição Suframa:</span>
                    <input formControlName="inscription_suframa" type="text" placeholder="Número da inscrição Suframa">
                  </label>
                </div>

                <div class="label-group">
                  <label class="label-w100">
                    <span class="field">CRT:</span>
                    <select formControlName="crt">
                      <option *ngFor="let options of crt" [value]="options.type">{{ options.name }}
                      </option>
                    </select>
                  </label>

                  <label class="label-w100">
                    <span class="field">Regime Especial:</span>
                    <select formControlName="special_regime">
                      <option *ngFor="let options of specialRegime" [value]="options.type">{{ options.name }}
                      </option>
                    </select>
                  </label>
                </div>

                <div class="basic-form-header" style="margin-bottom: 20px;">
                  <h3>Certificado</h3>
                </div>

                <div class="certificado">
                  <div class="label-group">
                    <label>
                      <div class="double-spans">
                        <span class="field">Certificado</span>
                        <span class="field-right-search" (click)="selectCertificadoButton()">Selecionar</span>
                      </div>
                      <input readonly [value]="getDetailsCertificado()"  type="text" placeholder="Selecione o certificado">
                    </label>

                    <label>
                      <span class="field">Senha:</span>
                      <input formControlName="certificate_password" type="text" placeholder="Senha do certificado">
                    </label>
                  </div>

                  <input #fileInputCertificado type="file" accept=".pfx" (change)="selectCertificado($event)" hidden>
                </div>
              </mat-tab>

              <mat-tab>
                <div formGroupName="address">
                  <div class="label-group">
                    <label>
                      <div class="double-spans"><span class="field">CEP:</span>
                        <span class="field-right-search" (click)="getCEP()">Consultar CEP</span>
                      </div>
                      <input formControlName="zip_code" type="text" mask="00000-000" placeholder="Número">
                    </label>

                    <label class="label-w100">
                      <span class="field">Endereço:</span>
                      <input formControlName="address" type="text" placeholder="Rua, Av, Br, etc...">
                    </label>

                    <label>
                      <span class="field">Número:</span>
                      <input formControlName="number" type="text" placeholder="Número ou SN">
                    </label>
                  </div>

                  <div class="label-group">
                    <label>
                      <span class="field">Estado:</span>
                      <input formControlName="state" type="text" placeholder="Sigla">
                    </label>

                    <label>
                      <span class="field">Cidade:</span>
                      <input formControlName="city" type="text" placeholder="Nome...">
                    </label>

                    <label>
                      <span class="field">Cidade IBGE:</span>
                      <input formControlName="code_ibge" type="text" placeholder="Código ibge...">
                    </label>

                    <label class="label-w30">
                      <span class="field">Bairro:</span>
                      <input formControlName="district" type="text" placeholder="Nome do bairro">
                    </label>

                    <label class="label-w30">
                      <span class="field">Complemento:</span>
                      <input formControlName="complement" type="text" placeholder="Tipo, cor, etc...">
                    </label>
                  </div>
                </div>
              </mat-tab>
            </div>

            <mat-tab>
              <app-search-loading-unique class="label-w50" [search]="searchPeople"></app-search-loading-unique>
              <app-search-loading-unique class="label-w50" [search]="searchCategory"></app-search-loading-unique>
              <app-search-loading-unique class="label-w50" [search]="searchBank"></app-search-loading-unique>
            </mat-tab>

            <mat-tab>
              <div class="basic-form-header" style="margin-bottom: 20px;">
                <h3>Configurações de NF-e</h3>
              </div>

              <div class="label-group">
                <label class="label-w100">
                  <span class="field">Ambiente:</span>
                  <select formControlName="nfe_ambiente">
                    <option value="1">Homologação</option>
                    <option value="0">Produção</option>
                  </select>
                </label>

                <label class="label-w100">
                  <span class="field">Série NF-e</span>
                  <input formControlName="nfe_serie" type="number">
                </label>

                <label class="label-w100">
                  <span class="field">Número NF-e</span>
                  <input formControlName="nfe_numero" type="number">
                </label>
              </div>

              <div class="basic-form-header" style="margin-bottom: 20px;">
                <h3>Configurações de NFC-e</h3>
              </div>

              <div class="label-group">
                <label class="label-w100">
                  <span class="field">Ambiente:</span>
                  <select formControlName="nfce_ambiente">
                    <option value="1">Homologação</option>
                    <option value="0">Produção</option>
                  </select>
                </label>

                <label class="label-w30">
                  <span class="field">Série NFC-e</span>
                  <input formControlName="nfce_serie" type="number">
                </label>

                <label class="label-w30">
                  <span class="field">Número NFC-e</span>
                  <input formControlName="nfce_numero" type="number">
                </label>

                <label class="label-w30">
                  <span class="field">Id Token</span>
                  <input formControlName="nfce_id_token" type="number">
                </label>

                <label class="label-w100">
                  <span class="field">CSC</span>
                  <input formControlName="nfce_csc">
                </label>
              </div>

              <div class="basic-form-header" style="margin-bottom: 20px;">
                <h3>Configurações de CT-e</h3>
              </div>

              <div class="label-group">
                <label class="label-w100">
                  <span class="field">Ambiente:</span>
                  <select formControlName="cte_ambiente">
                    <option value="1">Homologação</option>
                    <option value="0">Produção</option>
                  </select>
                </label>

                <label class="label-w100">
                  <span class="field">Série CT-e</span>
                  <input formControlName="cte_serie" type="number">
                </label>

                <label class="label-w100">
                  <span class="field">Número CT-e</span>
                  <input formControlName="cte_numero" type="number">
                </label>
              </div>

              <div class="basic-form-header" style="margin-bottom: 20px;">
                <h3>Configurações de MDF-e</h3>
              </div>

              <div class="label-group">
                <label class="label-w100">
                  <span class="field">Ambiente:</span>
                  <select formControlName="mdfe_ambiente">
                    <option value="1">Homologação</option>
                    <option value="0">Produção</option>
                  </select>
                </label>

                <label class="label-w100">
                  <span class="field">Série MDF-e</span>
                  <input formControlName="mdfe_serie" type="number">
                </label>

                <label class="label-w100">
                  <span class="field">Número MDF-e</span>
                  <input formControlName="mdfe_numero" type="number">
                </label>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-container formGroupName="shop">
                <div class="label-group">
                  <div class="label-group-check" style="margin-bottom: 10px; min-width: 135px;">
                    <span class="title">Shop</span>
                    <div class="checks">
                      <label class="check">
                        <input type="checkbox" formControlName="is_active" >
                        <span>Ativar shop?</span>
                      </label>
                    </div>
                  </div>

                  <label>
                    <span class="field">Cor padrão</span>
                    <input formControlName="color_default" type="color" style="height: 40px;">
                  </label>
                </div>

                <div class="basic-form-header">
                  <h3>Categorias que aparecem no shop</h3>
                </div>

                <div class="label-group" style="margin-bottom: 10px; padding: 0 20px;">
                  <app-search-loading-chips class="label-w100" [search]="searchCategories"></app-search-loading-chips>
                </div>

                <div class="basic-form-header">
                  <h3>Acesso</h3>
                </div>

                <label class="label-w100">
                  <span class="field">Link URL</span>
                  <input formControlName="link_url" type="text">
                </label>
              </ng-container>
            </mat-tab>

            <mat-tab>
              <div class="label-group">
                <label class="label-w100">
                  <span class="field">Token</span>
                  <input formControlName="token" type="text" readonly>
                </label>
              </div>

              <div class="basic-form-header" style="margin-top: 20px;">
                <h3>Dados de Dropbox</h3>
              </div>

              <div class="label-group">
                <label class="label-w30">
                  <span class="field">Client Id</span>
                  <input formControlName="dropbox_client_id" type="text">
                </label>

                <label class="label-w30">
                  <span class="field">Client Secret</span>
                  <input formControlName="dropbox_client_secret" type="text">
                </label>

                <label class="label-w100">
                  <span class="field">Refresh Token</span>
                  <input formControlName="dropbox_refresh_token" type="text">
                </label>
              </div>

              <div class="basic-form-header" style="margin-top: 20px;">
                <h3>Conexão Whatsapp</h3>
              </div>

              <div class="shopping-budget">
                <div class="shopping-budget-grid" style="border: none !important">
                  <ng-container formArrayName="whatsapps">
                    <div *ngFor="let whatsapp of whatsapps.controls; index as i" class="shopping-budget-grid-list" style="border: 1px solid #C9D3DD; margin-bottom: 20px;">
                      <ul class="shopping-budget-grid-header" style="padding: 0 10px;">
                        <li style="width: 50%">Nome</li>
                        <li style="width: 30%">Número</li>
                      </ul>

                      <ng-container [formGroupName]="i">
                        <div class="label-group">
                          <label style="width: 50%">
                            <span class="label-title">Nome</span>
                            <input formControlName="name" type="text">
                          </label>

                          <label style="width: 30%">
                            <span class="label-title">Número</span>
                            <input formControlName="phone" type="text">
                          </label>

                          <label>
                            <button mat-icon-button (click)="connectWhatsapp(i)">
                              <mat-icon>sensors</mat-icon>
                            </button>
                          </label>

                          <button class="add-item" mat-icon-button (click)="removeWhatsapp(i)">
                            <mat-icon>clear</mat-icon>
                          </button>
                        </div>
                      </ng-container>
                    </div>
                  </ng-container>
                </div>

                <div class="shopping-budget-footer">
                  <div class="amount-button-add">
                    <button mat-button (click)="addWhatsapp(null)">Adicionar outro número</button>
                  </div>
                </div>
              </div>
            </mat-tab>

            <mat-tab>
              <div class="progress">
                <div class="title">
                  <h3>Produtos</h3>
                  <div class="percent">
                    <span>{{this.progressProduct.progress | number:'1.0-2'}}%</span>
                    <button *ngIf="this.progressProduct.progress === 0" mat-icon-button (click)="startDownloadProducts()">
                      <mat-icon>play_for_work</mat-icon>
                    </button>
                  </div>
                </div>
                <mat-progress-bar mode="determinate" [value]="this.progressProduct.progress"></mat-progress-bar>
                <div class="itens">
                  <span>{{this.progressProduct.download}} de {{this.progressProduct.total}}</span>
                </div>
              </div>

              <div class="progress">
                <div class="title">
                  <h3>Pessoas</h3>
                  <div class="percent">
                    <span>{{this.progressPeople.progress | number:'1.0-2'}}%</span>
                    <button *ngIf="this.progressPeople.progress === 0" mat-icon-button (click)="startDownloadPeople()">
                      <mat-icon>play_for_work</mat-icon>
                    </button>
                  </div>
                </div>
                <mat-progress-bar mode="determinate" [value]="this.progressPeople.progress"></mat-progress-bar>
                <div class="itens">
                  <span>{{this.progressPeople.download}} de {{this.progressPeople.total}}</span>
                </div>
              </div>
            </mat-tab>

            <mat-tab>
              <div class="shopping-budget">
                <div class="shopping-budget-grid" style="border: none !important">
                  <ng-container formArrayName="terminals">
                    <div *ngFor="let terminal of terminals.controls; index as i" class="shopping-budget-grid-list" style="border: 1px solid #C9D3DD; margin-bottom: 20px; padding: 20px;">

                      <ng-container [formGroupName]="i">
                        <div class="basic-form-header" style="margin-bottom: 20px; display: flex; justify-content: space-between;">
                          <h3>Dados gerais</h3>

                          <div>
                            <button mat-icon-button (click)="addFavoriteTerminal(i)" *ngIf="terminal?.value?.id !== ''">
                              <mat-icon>favorite</mat-icon>
                            </button>
                            <button class="add-item" mat-icon-button (click)="removeTerminal(i)">
                              <mat-icon>clear</mat-icon>
                            </button>
                          </div>
                        </div>

                        <div class="label-group">
                          <app-search-loading-unique style="width: 25%" [search]="terminalsOutPut[i]" (eventEmit)="selectNatureOperation($event, i)"></app-search-loading-unique>
                        </div>

                        <div class="basic-form-header" style="margin-bottom: 20px;">
                          <h3>Configurações de NF-e</h3>
                        </div>

                        <div class="label-group">
                          <label class="label-w100">
                            <span class="field">Ambiente:</span>
                            <select formControlName="nfe_ambiente">
                              <option value="1">Homologação</option>
                              <option value="0">Produção</option>
                            </select>
                          </label>

                          <label class="label-w100">
                            <span class="field">Série NF-e</span>
                            <input formControlName="nfe_serie" type="number">
                          </label>

                          <label class="label-w100">
                            <span class="field">Número NF-e</span>
                            <input formControlName="nfe_numero" type="number">
                          </label>
                        </div>

                        <div class="basic-form-header" style="margin-bottom: 20px;">
                          <h3>Configurações de NFC-e</h3>
                        </div>

                        <div class="label-group">
                          <label class="label-w100">
                            <span class="field">Ambiente:</span>
                            <select formControlName="nfce_ambiente">
                              <option value="1">Homologação</option>
                              <option value="0">Produção</option>
                            </select>
                          </label>

                          <label class="label-w30">
                            <span class="field">Série NFC-e</span>
                            <input formControlName="nfce_serie" type="number">
                          </label>

                          <label class="label-w30">
                            <span class="field">Número NFC-e</span>
                            <input formControlName="nfce_numero" type="number">
                          </label>

                          <label class="label-w30">
                            <span class="field">Id Token</span>
                            <input formControlName="nfce_id_token" type="number">
                          </label>

                          <label class="label-w100">
                            <span class="field">CSC</span>
                            <input formControlName="nfce_csc">
                          </label>
                        </div>

                        <div class="basic-form-header" style="margin-bottom: 20px;">
                          <h3>Certificado</h3>
                        </div>

                        <div class="label-group">
                          <label class="label-w100">
                            <span class="field">Caminho do Certificado:</span>
                            <input formControlName="certificate_path" type="text">
                          </label>

                          <label class="label-w30">
                            <span class="field">Senha:</span>
                            <input formControlName="certificate_password" type="text">
                          </label>
                        </div>

                        <div class="basic-form-header" style="margin-bottom: 20px;">
                          <h3>Impressora</h3>
                        </div>

                        <div class="label-group">
                          <label class="label-w100">
                            <span class="field">Caminho da impressora:</span>
                            <input formControlName="printer_path" type="text">
                          </label>
                        </div>

                        <div class="basic-form-header" style="margin-bottom: 20px;">
                          <h3>Servidor de Comando</h3>
                        </div>

                        <div class="label-group">
                          <label class="label-w100">
                            <span class="field">API:</span>
                            <input formControlName="api_url" type="text">
                          </label>
                        </div>
                      </ng-container>
                    </div>
                  </ng-container>
                </div>

                <div class="shopping-budget-footer">
                  <div class="amount-button-add">
                    <button mat-button (click)="addTerminal(null)">Adicionar outro terminal</button>
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </form>

        <app-basic-form-buttons [navigation]="navigationButtons"></app-basic-form-buttons>
      </div>
    </div>
  </div>
</div>

<app-loading-full [loadingFull]="loadingFull"></app-loading-full>
