<div class="container">
  <div class="page-content">
    <app-page-header [header]="pageHeader"></app-page-header>

    <div class="basic-form">
      <div class="basic-form-header">
        <h3>Dados gerais</h3>
      </div>

      <form [formGroup]="myForm">
        <div class="label-group">
          <label class="label-w100">
            <span class="field">Nome</span>
            <input formControlName="name" type="text" placeholder="Ex: Mão de obra">
          </label>

          <label *ngIf="myForm.value.kind !== 1">
            <span class="field">Valor de venda (R$)</span>
            <input formControlName="sale_value" currencyMask type="text">
          </label>
        </div>
      </form>

      <div class="basic-form-footer">
        <button class="button-add" mat-button (click)="save()">
          Salvar
        </button>
      </div>
    </div>
  </div>
</div>

<app-loading-full [loadingFull]="loadingFull"></app-loading-full>
