.option {
  display: flex;

  select {
    font-size: 1em;
    display: block;
    width: 100%;
    padding: 10px;
    font-family: "Product Sans";
    font-weight: 400;
    color: #575757;
    font-size: 14px;
    background-color: rgb(247, 247, 247);
    border-radius: 12px;
    border: 2px solid rgb(229, 229, 229);

    &:focus {
      outline: none;
      box-shadow: none !important;
      border-color: var(--primary-color);
    }
  }
}

@media (max-width: 62em) {
  .option {
    select {
      margin-bottom: 10px;
    }
  }
}
