.admin {
  display: flex;
  justify-content: space-between;
}

.admin-container {
  width: calc(100% - 280px);
}

.admin-content {
  margin-top: 70px;
}

@media (max-width: 62em) {
  .admin-container {
    width: 100%;
  }
}

