.admin-container {
  display: flex;
  height: 100vh;
}

.admin-content {
  margin-top: 70px;
  width: 100%;
  overflow: auto;
}

@media (max-width: 62em) {
  .admin-container {
    width: 100%;
  }
}

