<div class="container">
  <div class="page-content">
    <app-page-header [header]="pageHeader"></app-page-header>

    <div class="basic-form">
      <form [formGroup]="myForm">
        <div class="label-group">
          <app-search-loading-unique class="label-w50" [search]="searchPeople"></app-search-loading-unique>

          <label>
            <span class="field">Número da Apólice</span>
            <input formControlName="number_apolice" type="text" placeholder="Número">
          </label>

          <label>
            <span class="field">Vencimento da Apólice</span>
            <input formControlName="validity" type="date">
          </label>
        </div>
      </form>

      <app-basic-form-buttons [navigation]="navigationButtons"></app-basic-form-buttons>
    </div>
  </div>
</div>

<app-loading-full [loadingFull]="loadingFull"></app-loading-full>
