/* Page */
.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #c9d3dd;

  .title {
    h2 {
      color: var(--primary-color);
    }

    p {
      color: var(--color-primary-font);
      font-size: 0.875em;
    }
  }
}

@media (max-width: 52em) {
  .page-header {
    display: block;
    text-align: center;

    .title {
      margin-bottom: 10px;
    }

    button {
      width: 100%;
    }
  }
}
