<div class="container">
  <div class="page-content">
    <app-page-header [header]="pageHeader"></app-page-header>

    <div class="basic-form">
      <form [formGroup]="myForm">
        <div class="label-group">
          <label class="label-w30">
            <span class="field">Tipo</span>
            <select formControlName="role" (change)="getRole()">
              <option *ngFor="let role of roles" [value]="role.type">{{ role.name }}
              </option>
            </select>
          </label>

          <label class="label-w50">
            <span class="field">Nome</span>
            <input formControlName="name" type="text">
          </label>

          <app-search-loading-unique class="label-w50" [search]="searchCategory"></app-search-loading-unique>
        </div>
      </form>

      <app-basic-form-buttons [navigation]="navigationButtons"></app-basic-form-buttons>
    </div>
  </div>
</div>

<app-loading-full [loadingFull]="loadingFull"></app-loading-full>
