<div class="container" style="padding: 0; margin-bottom: 0;">
  <div class="page-content">
    <div class="basic-form">
      <app-page-header [header]="pageHeader"></app-page-header>

      <form [formGroup]="myForm">
        <div class="label-group">
          <mat-form-field class="example-chip-list" appearance="fill" class="label-w100">
            <mat-label>Estados</mat-label>
            <mat-chip-list #chipList aria-label="Selecione um estado">
              <mat-chip
                *ngFor="let state of states"
                (removed)="removeState(state)">
                {{state.name}}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input
                placeholder="Novo estado..."
                #stateInput
                [formControl]="stateCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedState($event)">
              <mat-option *ngFor="let state of filteredStates | async" [value]="state">
                {{state.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <mat-tab-group dynamicHeight>
          <mat-tab formGroupName="nfeTaxationRulesResale">
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">groups</mat-icon>
              Cliente Revenda
            </ng-template>

            <div class="basic-form-header">
              <h3>ICMS</h3>
            </div>

            <label class="label-w30">
              <span class="field">CSOSN:</span>
              <select formControlName="icms_situacao_tributaria">
                <option *ngFor="let icms of icmsSituacaoTributaria" [value]="icms.type" [innerHTML]="icms.name">
                </option>
              </select>
            </label>

            <div>
              <div class="basic-form-header">
                <h3>Adicionar valores na BC do ICMS</h3>
              </div>

              <div class="label-group-check label-w100">
                <span class="title">Adicionais</span>
                <div class="checks">
                  <label class="check">
                    <input type="checkbox" formControlName="icms_adiciona_frete" >
                    <span>Adicionar frete</span>
                  </label>

                  <label class="check">
                    <input type="checkbox" formControlName="icms_adiciona_seguro" >
                    <span>Adicionar seguro</span>
                  </label>

                  <label class="check">
                    <input type="checkbox" formControlName="icms_adiciona_ipi" >
                    <span>Adicionar IPI</span>
                  </label>

                  <label class="check">
                    <input type="checkbox" formControlName="icms_adiciona_outras_despesas" >
                    <span>Adicionar Outras Despesas</span>
                  </label>
                </div>
              </div>

              <div class="label-group" style="margin-top: 10px;">
                <label class="label-w30">
                  <span class="field">Mod de det BC do ICMS</span>
                  <select formControlName="icms_modalidade_base_calculo">
                    <option *ngFor="let icms of icmsModalidadeBaseCalculo" [value]="icms.type">
                      {{icms.name}}
                    </option>
                  </select>
                </label>

                <label>
                  <span class="field">Percentual de Redução da BC ...</span>
                  <input formControlName="icms_reducao_base_calculo" mask="separator.4" thousandSeparator="." decimalSeparator="," currency="BRL" type="text">
                </label>

                <label>
                  <span class="field">Alíquota de ICMS %</span>
                  <input formControlName="icms_aliquota" type="text" mask="separator.4" thousandSeparator="." decimalSeparator="," currency="BRL" type="text">
                </label>

                <label>
                  <span class="field">Percentual do diferimento</span>
                  <input formControlName="icms_percentual_diferimento" type="text" mask="separator.4" thousandSeparator="." decimalSeparator="," currency="BRL" type="text">
                </label>
              </div>
            </div>

            <div>
              <div class="basic-form-header">
                <h3>ICMS ST</h3>
              </div>

              <div class="label-group" style="margin-top: 10px;">
                <label class="label-w30">
                  <span class="field">Mod Det. BC ICMS ST</span>
                  <select formControlName="icms_modalidade_base_calculo_st">
                    <option *ngFor="let icms of icmsModalidadeBaseCalculoSt" [value]="icms.type">
                      {{icms.name}}
                    </option>
                  </select>
                </label>

                <label>
                  <span class="field">% da MVA do ICMS ST</span>
                  <input formControlName="icms_margem_valor_adicionado_st" mask="separator.4" thousandSeparator="." decimalSeparator="," currency="BRL" type="text">
                </label>

                <label>
                  <span class="field">% da Redução da BC ST</span>
                  <input formControlName="icms_reducao_base_calculo_st" type="text" mask="separator.4" thousandSeparator="." decimalSeparator="," currency="BRL" type="text">
                </label>

                <label>
                  <span class="field">Alíquota de ICMS ST</span>
                  <input formControlName="icms_aliquota_st" type="text" mask="separator.4" thousandSeparator="." decimalSeparator="," currency="BRL" type="text">
                </label>
              </div>
            </div>

            <div>
              <div class="basic-form-header">
                <h3>PIS</h3>
              </div>

              <div class="label-group-check label-w100">
                <span class="title">Adicionais</span>
                <div class="checks">
                  <label class="check">
                    <input type="checkbox" formControlName="pis_adiciona_frete" >
                    <span>Adicionar frete</span>
                  </label>

                  <label class="check">
                    <input type="checkbox" formControlName="pis_adiciona_seguro" >
                    <span>Adicionar seguro</span>
                  </label>

                  <label class="check">
                    <input type="checkbox" formControlName="pis_adiciona_ipi" >
                    <span>Adicionar IPI</span>
                  </label>

                  <label class="check">
                    <input type="checkbox" formControlName="pis_adiciona_outras_despesas" >
                    <span>Adicionar Outras Despesas</span>
                  </label>
                </div>
              </div>

              <div class="label-group" style="margin-top: 10px;">
                <label class="label-w100">
                  <span class="field">CST do PIS</span>
                  <select formControlName="pis_situacao_tributaria">
                    <option *ngFor="let icms of pisSituacaoTributaria" [value]="icms.type" [innerHTML]="icms.name">
                      {{icms.name}}
                    </option>
                  </select>
                </label>

                <label>
                  <span class="field">Alíquota do PIS %</span>
                  <input formControlName="pis_aliquota_porcentual" mask="separator.4" thousandSeparator="." decimalSeparator="," currency="BRL" type="text">
                </label>
              </div>
            </div>

            <div>
              <div class="basic-form-header">
                <h3>COFINS</h3>
              </div>

              <div class="label-group-check label-w100">
                <span class="title">Adicionais</span>
                <div class="checks">
                  <label class="check">
                    <input type="checkbox" formControlName="cofins_adiciona_frete" >
                    <span>Adicionar frete</span>
                  </label>

                  <label class="check">
                    <input type="checkbox" formControlName="cofins_adiciona_seguro" >
                    <span>Adicionar seguro</span>
                  </label>

                  <label class="check">
                    <input type="checkbox" formControlName="cofins_adiciona_ipi" >
                    <span>Adicionar IPI</span>
                  </label>

                  <label class="check">
                    <input type="checkbox" formControlName="cofins_adiciona_outras_despesas" >
                    <span>Adicionar Outras Despesas</span>
                  </label>
                </div>
              </div>

              <div class="label-group" style="margin-top: 10px;">
                <label class="label-w100">
                  <span class="field">CST do COFINS</span>
                  <select formControlName="cofins_situacao_tributaria">
                    <option *ngFor="let icms of cofinsSituacaoTributaria" [value]="icms.type" [innerHTML]="icms.name">
                      {{icms.name}}
                    </option>
                  </select>
                </label>

                <label>
                  <span class="field">Alíquota do Cofins %</span>
                  <input formControlName="cofins_aliquota_porcentual" mask="separator.4" thousandSeparator="." decimalSeparator="," currency="BRL" type="text">
                </label>
              </div>
            </div>

            <div>
              <div class="basic-form-header">
                <h3>IPI</h3>
              </div>

              <div class="label-group-check label-w100">
                <span class="title">Adicionais</span>
                <div class="checks">
                  <label class="check">
                    <input type="checkbox" formControlName="ipi_adiciona_frete" >
                    <span>Adicionar frete</span>
                  </label>

                  <label class="check">
                    <input type="checkbox" formControlName="ipi_adiciona_seguro" >
                    <span>Adicionar seguro</span>
                  </label>

                  <label class="check">
                    <input type="checkbox" formControlName="ipi_adiciona_outras_despesas" >
                    <span>Adicionar Outras Despesas</span>
                  </label>
                </div>
              </div>

              <div class="label-group" style="margin-top: 10px;">
                <label class="label-w100">
                  <span class="field">CST do IPI</span>
                  <select formControlName="ipi_situacao_tributaria">
                    <option *ngFor="let icms of ipiSituacaoTributaria" [value]="icms.type" [innerHTML]="icms.name">
                      {{icms.name}}
                    </option>
                  </select>
                </label>

                <label>
                  <span class="field">Alíquota do IPI %</span>
                  <input formControlName="ipi_aliquota" mask="separator.4" thousandSeparator="." decimalSeparator="," currency="BRL" type="text">
                </label>
              </div>

              <label>
                <span class="field">Observação da nota</span>
                <textarea formControlName="informacoes_nfe" placeholder="Observação da NFe e NFCe"></textarea>
              </label>

              <div class="label-group-check">
                <span class="title">Informações</span>
                <div class="checks">
                  <label class="check">
                    <input type="checkbox" formControlName="informacoes_ibpt" >
                    <span>Informações de IBPT na nota</span>
                  </label>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab formGroupName="nfeTaxationRulesFinalConsumer" >
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">equalizer</mat-icon>
              Cliente Consumidor Final
            </ng-template>

            <div class="basic-form-header">
              <h3>ICMS</h3>
            </div>

            <label class="label-w30">
              <span class="field">CSOSN:</span>
              <select formControlName="icms_situacao_tributaria">
                <option *ngFor="let icms of icmsSituacaoTributaria" [value]="icms.type" [innerHTML]="icms.name">
                </option>
              </select>
            </label>

            <div>
              <div class="basic-form-header">
                <h3>Adicionar valores na BC do ICMS</h3>
              </div>

              <div class="label-group-check label-w100">
                <span class="title">Adicionais</span>
                <div class="checks">
                  <label class="check">
                    <input type="checkbox" formControlName="icms_adiciona_frete" >
                    <span>Adicionar frete</span>
                  </label>

                  <label class="check">
                    <input type="checkbox" formControlName="icms_adiciona_seguro" >
                    <span>Adicionar seguro</span>
                  </label>

                  <label class="check">
                    <input type="checkbox" formControlName="icms_adiciona_ipi" >
                    <span>Adicionar IPI</span>
                  </label>

                  <label class="check">
                    <input type="checkbox" formControlName="icms_adiciona_outras_despesas" >
                    <span>Adicionar Outras Despesas</span>
                  </label>
                </div>
              </div>

              <div class="label-group" style="margin-top: 10px;">
                <label class="label-w30">
                  <span class="field">Mod de det BC do ICMS</span>
                  <select formControlName="icms_modalidade_base_calculo">
                    <option *ngFor="let icms of icmsModalidadeBaseCalculo" [value]="icms.type">
                      {{icms.name}}
                    </option>
                  </select>
                </label>

                <label>
                  <span class="field">Percentual de Redução da BC ...</span>
                  <input formControlName="icms_reducao_base_calculo" mask="separator.4" thousandSeparator="." decimalSeparator="," currency="BRL" type="text">
                </label>

                <label>
                  <span class="field">Alíquota de ICMS %</span>
                  <input formControlName="icms_aliquota" type="text" mask="separator.4" thousandSeparator="." decimalSeparator="," currency="BRL" type="text">
                </label>

                <label>
                  <span class="field">Percentual do diferimento</span>
                  <input formControlName="icms_percentual_diferimento" type="text" mask="separator.4" thousandSeparator="." decimalSeparator="," currency="BRL" type="text">
                </label>
              </div>
            </div>

            <div>
              <div class="basic-form-header">
                <h3>ICMS ST</h3>
              </div>

              <div class="label-group" style="margin-top: 10px;">
                <label class="label-w30">
                  <span class="field">Mod Det. BC ICMS ST</span>
                  <select formControlName="icms_modalidade_base_calculo_st">
                    <option *ngFor="let icms of icmsModalidadeBaseCalculoSt" [value]="icms.type">
                      {{icms.name}}
                    </option>
                  </select>
                </label>

                <label>
                  <span class="field">% da MVA do ICMS ST</span>
                  <input formControlName="icms_margem_valor_adicionado_st" mask="separator.4" thousandSeparator="." decimalSeparator="," currency="BRL" type="text">
                </label>

                <label>
                  <span class="field">% da Redução da BC ST</span>
                  <input formControlName="icms_reducao_base_calculo_st" type="text" mask="separator.4" thousandSeparator="." decimalSeparator="," currency="BRL" type="text">
                </label>

                <label>
                  <span class="field">Alíquota de ICMS ST</span>
                  <input formControlName="icms_aliquota_st" type="text" mask="separator.4" thousandSeparator="." decimalSeparator="," currency="BRL" type="text">
                </label>
              </div>
            </div>

            <div>
              <div class="basic-form-header">
                <h3>PIS</h3>
              </div>

              <div class="label-group-check label-w100">
                <span class="title">Adicionais</span>
                <div class="checks">
                  <label class="check">
                    <input type="checkbox" formControlName="pis_adiciona_frete" >
                    <span>Adicionar frete</span>
                  </label>

                  <label class="check">
                    <input type="checkbox" formControlName="pis_adiciona_seguro" >
                    <span>Adicionar seguro</span>
                  </label>

                  <label class="check">
                    <input type="checkbox" formControlName="pis_adiciona_ipi" >
                    <span>Adicionar IPI</span>
                  </label>

                  <label class="check">
                    <input type="checkbox" formControlName="pis_adiciona_outras_despesas" >
                    <span>Adicionar Outras Despesas</span>
                  </label>
                </div>
              </div>

              <div class="label-group" style="margin-top: 10px;">
                <label class="label-w100">
                  <span class="field">CST do PIS</span>
                  <select formControlName="pis_situacao_tributaria">
                    <option *ngFor="let icms of pisSituacaoTributaria" [value]="icms.type" [innerHTML]="icms.name">
                      {{icms.name}}
                    </option>
                  </select>
                </label>

                <label>
                  <span class="field">Alíquota do PIS %</span>
                  <input formControlName="pis_aliquota_porcentual" mask="separator.4" thousandSeparator="." decimalSeparator="," currency="BRL" type="text">
                </label>
              </div>
            </div>

            <div>
              <div class="basic-form-header">
                <h3>COFINS</h3>
              </div>

              <div class="label-group-check label-w100">
                <span class="title">Adicionais</span>
                <div class="checks">
                  <label class="check">
                    <input type="checkbox" formControlName="cofins_adiciona_frete" >
                    <span>Adicionar frete</span>
                  </label>

                  <label class="check">
                    <input type="checkbox" formControlName="cofins_adiciona_seguro" >
                    <span>Adicionar seguro</span>
                  </label>

                  <label class="check">
                    <input type="checkbox" formControlName="cofins_adiciona_ipi" >
                    <span>Adicionar IPI</span>
                  </label>

                  <label class="check">
                    <input type="checkbox" formControlName="cofins_adiciona_outras_despesas" >
                    <span>Adicionar Outras Despesas</span>
                  </label>
                </div>
              </div>

              <div class="label-group" style="margin-top: 10px;">
                <label class="label-w100">
                  <span class="field">CST do COFINS</span>
                  <select formControlName="cofins_situacao_tributaria">
                    <option *ngFor="let icms of cofinsSituacaoTributaria" [value]="icms.type" [innerHTML]="icms.name">
                      {{icms.name}}
                    </option>
                  </select>
                </label>

                <label>
                  <span class="field">Alíquota do Cofins %</span>
                  <input formControlName="cofins_aliquota_porcentual" mask="separator.4" thousandSeparator="." decimalSeparator="," currency="BRL" type="text">
                </label>
              </div>
            </div>

            <div>
              <div class="basic-form-header">
                <h3>IPI</h3>
              </div>

              <div class="label-group-check label-w100">
                <span class="title">Adicionais</span>
                <div class="checks">
                  <label class="check">
                    <input type="checkbox" formControlName="ipi_adiciona_frete" >
                    <span>Adicionar frete</span>
                  </label>

                  <label class="check">
                    <input type="checkbox" formControlName="ipi_adiciona_seguro" >
                    <span>Adicionar seguro</span>
                  </label>

                  <label class="check">
                    <input type="checkbox" formControlName="ipi_adiciona_outras_despesas" >
                    <span>Adicionar Outras Despesas</span>
                  </label>
                </div>
              </div>

              <div class="label-group" style="margin-top: 10px;">
                <label class="label-w100">
                  <span class="field">CST do IPI</span>
                  <select formControlName="ipi_situacao_tributaria">
                    <option *ngFor="let icms of ipiSituacaoTributaria" [value]="icms.type" [innerHTML]="icms.name">
                      {{icms.name}}
                    </option>
                  </select>
                </label>

                <label>
                  <span class="field">Alíquota do IPI %</span>
                  <input formControlName="ipi_aliquota" mask="separator.4" thousandSeparator="." decimalSeparator="," currency="BRL" type="text">
                </label>
              </div>

              <label>
                <span class="field">Observação da nota</span>
                <textarea formControlName="informacoes_nfe" placeholder="Observação da NFe e NFCe"></textarea>
              </label>

              <div class="label-group-check label-w30">
                <span class="title">Informações</span>
                <div class="checks">
                  <label class="check">
                    <input type="checkbox" formControlName="informacoes_ibpt" >
                    <span>Informações de IBPT na nota</span>
                  </label>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </form>

      <div style="margin-top: 20px; width: 100%; text-align: right">
        <button class="c2-btn c2-btn-green" mat-button (click)="save()">
          <mat-icon>save</mat-icon>Salvar
        </button>
      </div>
    </div>
  </div>
</div>

<app-loading-full [loadingFull]="loadingFull"></app-loading-full>
