<div class="container">
  <div class="page-content">
    <app-page-header [header]="pageHeader"></app-page-header>

    <div class="basic-form">
      <form [formGroup]="myForm">
        <div class="label-group">
          <label class="label-w50">
            <span class="field">Email</span>
            <input formControlName="email" type="email"  [readonly]="this.formId !== 'new'">
          </label>

          <label class="label-w50" *ngIf="this.formId === 'new'">
            <span class="field">Senha</span>
            <input formControlName="password" type="password">
          </label>
        </div>
      </form>

      <app-basic-form-buttons [navigation]="navigationButtons"></app-basic-form-buttons>
    </div>
  </div>
</div>

<app-loading-full [loadingFull]="loadingFull"></app-loading-full>
