.btn-group {
  border: 2px solid rgb(229, 229, 229);
  background-color: rgb(247, 247, 247);
  border-radius: 12px;
  color: #395a7a;

  .arrow-left {
    border-right: 2px solid rgb(229, 229, 229);
  }

  .arrow-right {
    border-left: 2px solid rgb(229, 229, 229);
  }

  .center {
    width: 150px;
  }
}

@media (max-width: 52em) {
  .btn-group {
    margin-top: 15px;
  }

  .center {
    width: calc(100% - 80px) !important;
  }
}
