<div class="list" #listContainer>
  <table class="basic-table" mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="item">
      <th mat-header-cell *matHeaderCellDef> N° Item </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'deleted': element.removed}"> {{element.item}}</td>
    </ng-container>

     <ng-container matColumnDef="barcode">
      <th mat-header-cell *matHeaderCellDef> Código de Barras </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'deleted': element.removed}"> {{element.barcode}}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Descrição </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'deleted': element.removed}"> {{libraryService.getMaxString(element.description, 80)}}</td>
    </ng-container>

    <ng-container matColumnDef="cost_value">
      <th mat-header-cell *matHeaderCellDef> Preço </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'deleted': element.removed}"> {{element.cost_value | currency}} </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef > Quantidade </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'deleted': element.removed}"> {{element?.amount | currency:'BRL':'':'1.3-3':'pt-BR' }}</td>
    </ng-container>

    <ng-container matColumnDef="subtotal">
      <th mat-header-cell *matHeaderCellDef > Total </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'deleted': element.removed}"> {{element?.subtotal | currency }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Nenhum resultado encontrado</td>
    </tr>
  </table>
</div>
