<div class="container">
  <div class="page-content">
    <div class="basic">
      <app-basic-form-navigation [navigation]="navigation"></app-basic-form-navigation>

      <div class="basic-form">
        <app-page-header [header]="pageHeader"></app-page-header>

        <form [formGroup]="myForm">
          <mat-tab-group [selectedIndex]="navigation.selectedItem" class="tab-no-labels">
            <mat-tab>
              <div class="label-group">
                <label class="label">
                  <span class="field">Série</span>
                  <input  formControlName="serie" type="text">
                </label>

                <label class="label">
                  <span class="field">Número</span>
                  <input  formControlName="numero" type="text">
                </label>

                <label class="label-w50">
                  <span class="field">Natureza da Operação</span>
                  <input formControlName="natureza_operacao" type="text">
                </label>
              </div>

              <div class="label-group">
                <label class="label">
                  <span class="field">Data de Emissão</span>
                  <input formControlName="data_emissao" type="date">
                </label>

                <label class="label">
                  <span class="field">Data de Saída</span>
                  <input formControlName="data_entrada_saida" type="date">
                </label>

                <label class="label-w50">
                  <span class="field">Tipo de Nota</span>
                  <select formControlName="tipo_documento">
                    <option value="0">Nota de entrada</option>
                    <option value="1">Nota de saída</option>
                  </select>
                </label>
              </div>

              <div class="basic-form-header">
                <h3>Informações adicionais</h3>
              </div>


            </mat-tab>

            <mat-tab label="Chaves Liberadas" *ngIf="myForm.value.id !== 0">
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">key</mat-icon>
                Chaves Liberadas
              </ng-template>

              <div class="basic-form-header" style="margin-top: 20px;">
                <h3>Chaves</h3>
              </div>


            </mat-tab>
          </mat-tab-group>
        </form>

        <div class="basic-form-footer">
          <button class="button-add" mat-button (click)="save()">
            Salvar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-loading-full [loadingFull]="loadingFull"></app-loading-full>
