<div class="container">
  <div class="page-content">
    <div class="basic">
      <app-basic-form-navigation [navigation]="navigation" class="hide-62em"></app-basic-form-navigation>

      <div class="basic-form">
        <app-page-header [header]="pageHeader"></app-page-header>

        <form [formGroup]="myForm">
          <mat-tab-group [selectedIndex]="navigation.selectedItem" class="tab-no-labels">
            <mat-tab>
              <div class="label-group">
                <app-search-loading-unique class="label-w50" [search]="searchPeople"></app-search-loading-unique>

                <label class="label-w30">
                  <span class="field">Status da Ordem de Serviço:</span>
                  <select formControlName="status">
                    <option *ngFor="let status of statusList" [value]="status.type">{{ status.name }}
                    </option>
                  </select>
                </label>
              </div>

              <div class="label-group">
                <label>
                  <span class="field">Data de início:</span>
                  <input formControlName="date_start" type="date">
                </label>

                <label>
                  <span class="field">Previsão de entrega:</span>
                  <input formControlName="date_finish" type="date">
                </label>

                <app-search-loading-unique class="label-w100" [search]="searchUser"></app-search-loading-unique>
              </div>
            </mat-tab>

            <mat-tab>
              <div class="label-group">
                <label class="label-w100">
                  <span class="field" >Equipamento recebido:</span>
                  <input formControlName="equipment_received" type="text" placeholder="Notebook, Celular, tablet, etc...">
                </label>

                <label class="label-w30">
                  <span class="field">Nº de série:</span>
                  <input formControlName="serial_number" type="text" placeholder="ABBS222">
                </label>
              </div>

              <div class="label-group">
                <label class="label-w100">
                  <span class="field">Marca:</span>
                  <input formControlName="brand" type="text" placeholder="Dell, HP, Samsung, etc...">
                </label>

                <label class="label-w50">
                  <span class="field">Modelo:</span>
                  <input formControlName="model" type="text" placeholder="Galaxy, Inspirion, Smart, etc...">
                </label>
              </div>
            </mat-tab>

            <mat-tab>
              <div class="basic-form-header">
                <h3>Observações</h3>
              </div>

              <label>
                <span class="field">Observações sobre o recebimento do equipamento:</span>
                <textarea formControlName="note_equipment" placeholder="Detalhe a condição do equipamento no momento da entrega pelo cliente."></textarea>
              </label>

              <label>
                <span class="field">Descrição do problema ou defeito apresentado:</span>
                <textarea formControlName="note_problem" placeholder="Qual foi o problema reportado pelo cliente?"></textarea>
              </label>

              <label>
                <span class="field">Descrição do serviço que será prestado:</span>
                <textarea formControlName="note_service" placeholder="Troca de conector, ajustes de dados, etc..."></textarea>
              </label>

              <label>
                <span class="field">Observações internas (Não aparece para o cliente):</span>
                <textarea formControlName="note_private" placeholder="Cliente exigente, Executar com cuidado, ect..."></textarea>
              </label>
            </mat-tab>
          </mat-tab-group>
        </form>

        <app-basic-form-buttons [navigation]="navigationButtons"></app-basic-form-buttons>
      </div>
    </div>
  </div>
</div>

<app-loading-full [loadingFull]="loadingFull"></app-loading-full>
