<header>
  <div class="logo">
    <h1>CTrix</h1>
  </div>

  <nav [ngClass]="{'nav-on': menuMobileOn}">
    <!-- <ul class="nav-ul">
      <li class="nav-ul-li nav-ul-li-mobile" (click)="menuMobileOn = !menuMobileOn"><a>
          <mat-icon>close</mat-icon>
        </a></li>
      <li class="nav-ul-li" (click)="menuMobileOn = !menuMobileOn"><a routerLink="/dash">Visão geral</a></li>
    </ul> -->
  </nav>

  <ul class="ul-config">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/user">
        <mat-icon>groups</mat-icon>
        <span>Usuários</span>
      </button>
      <button mat-menu-item routerLink="/company">
        <mat-icon>domain</mat-icon>
        <span>Empresas</span>
      </button>
      <button mat-menu-item routerLink="/task">
        <mat-icon>task</mat-icon>
        <span>Tarefas</span>
      </button>
      <button mat-menu-item routerLink="/configuration">
        <mat-icon>settings</mat-icon>
        <span>Configuração</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>door_back</mat-icon>
        <span>Sair</span>
      </button>
    </mat-menu>
  </ul>
</header>
