<header>
  <div class="logo">
    <h1>CTrix</h1>
  </div>

  <nav [ngClass]="{'nav-on': menuMobileOn}">
    <ul class="nav-ul">
      <li class="nav-ul-li nav-ul-li-mobile" (click)="menuMobileOn = !menuMobileOn"><a>
          <mat-icon>close</mat-icon>
        </a></li>
      <li class="nav-ul-li" (click)="menuMobileOn = !menuMobileOn"><a routerLink="/dash">Visão geral</a></li>
      <li class="nav-ul-li">
        <a class="menu-list">Vendas <mat-icon>keyboard_arrow_down</mat-icon></a>
        <ul>
          <article>
            <li><span>Controle</span></li>
            <li (click)="menuMobileOn = !menuMobileOn">
              <a routerLink="/os">Ordens de Serviço</a>
            </li>
            <li (click)="menuMobileOn = !menuMobileOn">
              <a routerLink="/sale">Vendas e Orçamentos</a>
            </li>
          </article>
          <article>
            <li><span>Cadastro</span></li>
            <li (click)="menuMobileOn = !menuMobileOn">
              <a routerLink="/people">Pessoas</a>
            </li>
            <li (click)="menuMobileOn = !menuMobileOn">
              <a routerLink="/contact">Contatos</a>
            </li>
            <li (click)="menuMobileOn = !menuMobileOn">
              <a routerLink="/product">Produtos</a>
            </li>
            <li (click)="menuMobileOn = !menuMobileOn">
              <a routerLink="/service">Serviços</a>
            </li>
          </article>
        </ul>
      </li>
      <li class="nav-ul-li">
        <a class="menu-list">Compras <mat-icon>keyboard_arrow_down</mat-icon></a>
        <ul>
          <article>
            <li><span>Controle</span></li>
            <li (click)="menuMobileOn = !menuMobileOn">
              <a routerLink="/purchase">Compra e Orçamentos</a>
            </li>
          </article>
          <article>
            <li><span>Cadastro</span></li>
            <li (click)="menuMobileOn = !menuMobileOn">
              <a routerLink="/people">Pessoas</a>
            </li>
            <li (click)="menuMobileOn = !menuMobileOn">
              <a routerLink="/product">Produtos</a>
            </li>
            <li (click)="menuMobileOn = !menuMobileOn">
              <a routerLink="/service">Serviços</a>
            </li>
          </article>
        </ul>
      </li>
      <li class="nav-ul-li">
        <a class="menu-list">Financeiro <mat-icon>keyboard_arrow_down</mat-icon></a>
        <ul>
          <article>
            <li><span>Controle</span></li>
            <li (click)="menuMobileOn = !menuMobileOn">
              <a routerLink="/bank">Conta</a>
            </li>
            <li (click)="menuMobileOn = !menuMobileOn">
              <a routerLink="/bill-payment">Conta a pagar</a>
            </li>
            <li (click)="menuMobileOn = !menuMobileOn">
              <a routerLink="/bill-receivement">Conta a receber</a>
            </li>
          </article>
          <article>
            <li><span>Cadastro</span></li>
            <li (click)="menuMobileOn = !menuMobileOn">
              <a routerLink="/category">Categorias</a>
            </li>
            <li (click)="menuMobileOn = !menuMobileOn">
              <a routerLink="/cost-center">Centro de custo</a>
            </li>
          </article>
        </ul>
      </li>
      <li class="nav-ul-li">
        <a class="menu-list">Fiscal <mat-icon>keyboard_arrow_down</mat-icon></a>
        <ul>
          <article>
            <li><span>Controle</span></li>
            <li (click)="menuMobileOn = !menuMobileOn">
              <a routerLink="/nfe">NFe</a>
            </li>
            <li (click)="menuMobileOn = !menuMobileOn">
              <a routerLink="/bill-payment">NFCe</a>
            </li>
          </article>
          <article>
            <li><span>Cadastro</span></li>
            <li (click)="menuMobileOn = !menuMobileOn">
              <a routerLink="/people">Pessoas</a>
            </li>
            <li (click)="menuMobileOn = !menuMobileOn">
              <a routerLink="/nfe-nature-operation">Natureza de Operação</a>
            </li>
            <li (click)="menuMobileOn = !menuMobileOn">
              <a routerLink="/nfe-taxation">Tributação</a>
            </li>
            <li (click)="menuMobileOn = !menuMobileOn">
              <a routerLink="/nfe-manifest">Manifesto</a>
            </li>
          </article>
        </ul>
      </li>
      <li class="nav-ul-li">
        <a class="menu-list">Transporte <mat-icon>keyboard_arrow_down</mat-icon></a>
        <ul>
          <article>
            <li><span>Controle</span></li>
            <li (click)="menuMobileOn = !menuMobileOn">
              <a routerLink="/cte">CT-e</a>
            </li>
            <li (click)="menuMobileOn = !menuMobileOn">
              <a routerLink="/mdfe">MDF-e</a>
            </li>
          </article>
          <article>
            <li><span>Cadastro</span></li>
            <li (click)="menuMobileOn = !menuMobileOn">
              <a routerLink="/transport-route">Rotas</a>
            </li>
            <li (click)="menuMobileOn = !menuMobileOn">
              <a routerLink="/transport-insurance">Seguros</a>
            </li>
            <li (click)="menuMobileOn = !menuMobileOn">
              <a routerLink="/transport-vehicle">Veículos</a>
            </li>
          </article>
        </ul>
      </li>
      <li class="nav-ul-li">
        <a class="menu-list">Conexão <mat-icon>keyboard_arrow_down</mat-icon></a>
        <ul>
          <article>
            <li><span>Controle</span></li>
            <li (click)="menuMobileOn = !menuMobileOn">
              <a routerLink="/post">Transmissão</a>
            </li>
            <li (click)="menuMobileOn = !menuMobileOn">
              <a routerLink="/chat">Chat</a>
            </li>
          </article>
          <article>
            <li><span>Cadastro</span></li>
            <li (click)="menuMobileOn = !menuMobileOn">
              <a routerLink="/contact">Contatos</a>
            </li>
          </article>
        </ul>
      </li>
    </ul>
  </nav>

  <ul class="ul-config">
    <li class="toggle">
      <div class="toogle-theme">
        <span>{{ auth.theme ? 'Modo escuro' : 'Modo claro'}}</span>
        <div (click)="toggle()">
          <mat-icon [ngClass]="{'active': !auth.theme}">light_mode</mat-icon>
          <mat-icon [ngClass]="{'active': auth.theme}">dark_mode</mat-icon>
        </div>
      </div>
    </li>
    <li class="ul-config-li">
      <a>
        <mat-icon>person</mat-icon>
      </a>
      <ul>
        <li><span>{{auth.user.people.name}}</span></li>
        <li>
          <a routerLink="/user">Usuários</a>
        </li>
        <li>
          <a routerLink="/company">Empresas</a>
        </li>
        <li>
          <a routerLink="/task">Tarefas</a>
        </li>
        <li>
          <a routerLink="/configuration">Configuração</a>
        </li>
        <li>
          <a (click)="logout()">Sair</a>
        </li>
      </ul>
    </li>
    <li class="ul-config-li ul-config-li-mobile">
      <a (click)="menuMobileOn = !menuMobileOn">
        <mat-icon>menu</mat-icon>
      </a>
    </li>
  </ul>
</header>
