header {
  min-height: 50px;
  width: 100%;
  background-color: var(--header-bg);
  border-bottom: 1px solid var(--overlay-border);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.logo {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
  padding-left: 10px;

  h1 {
    color: #fff;
  }
}

nav {
  flex: 0 0 50%;
  max-width: 50%;
}

.nav-ul, .ul-config {
  .nav-ul-li, .ul-config-li {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    line-height: 20px;
    border-top: 2px solid transparent;
    cursor: pointer;

    &:hover {
      border-color: #fff;
      background-color: var(--overlay-bg-hover);

      ul {
        background-color: var(--overlay-bg-hover);
        display: block;
      }
    }

    a {
      padding: 15px 14px 15px;
      display: flex;
      color: #fff;

      mat-icon {
        font-size: 18px;
        height: 18px;
        width: 18px;
        margin-left: 3px;
      }
    }

    ul {
      position: absolute;
      top: 50px;
      z-index: 999;
      width: 500px;
      display: none;
      background-color: #2687e9;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      overflow: hidden;

      &:before {
        content: "";
        position: absolute;
        width: 1px;
        height: 100vh;
        background: var(--overlay-bg-hover-2);
        left: 250px;
      }

      article {
        float: left;
        width: 250px;
        padding-bottom: 10px;

        li {
          span {
            padding: 10px 15px;
            color: var(--overlay-bg-hover-2);
            text-transform: uppercase;
            font-weight: 600;
            display: block;
            font-size: 12px;
          }

          a {
            padding: 10px 15px;
            color: #fff;

            &:hover {
              background-color: var(--primary-color);
            }
          }
        }
      }
    }
  }
}

.nav-ul-li-mobile {
  display: none !important;
}

.ul-config-li-mobile {
  display: none !important;
}

 .ul-config {
   flex: 0 0 33.333333%;
   max-width: 33.333333%;
   padding: 0 10px;
   box-sizing: border-box;
   display: flex;
   justify-content: end;

   .ul-config-li {
     position: relative;
   }

   .toggle {
      display: flex;
      align-items: center;

    .toogle-theme {
      display: flex;
      color: #fff;
      align-items: center;

      span {
        margin-right: 10px;
      }

      div {
        display: flex;
        border: 1px solid var(--overlay-border);
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
          background-color: var(--overlay-bg-hover);
        }

        .active {
          background-color: var(--primary-color);
        }

        mat-icon {
          padding: 3px;
          font-size: 18px;
          border-radius: 10px;
        }
      }
    }
  }

   ul {
      max-width: 250px;
      right: 0;
      top: 48px !important;

     li {
       text-align: left;
       span {
         padding: 10px 15px;
         color: var(--overlay-bg-hover-2);
         text-transform: uppercase;
         font-weight: 600;
         display: block;
         font-size: 12px;
       }

       a {
         padding: 10px 15px;
         color: #fff;

         &:hover {
           background-color: var(--primary-color);
         }
       }
     }
   }
 }


@media (max-width: 62em) {
  header {
    justify-content: space-between;
  }

  nav {
    display: none;
    position: fixed;
    z-index: 3;
    left: 100%;
    top: 0;
    background: #2687e9;
    width: 300px;
    height: 100%;
    max-width: 80%;
    padding: 20px;
    border-left: 1px solid #ddd;
  }

  .nav-on {
    left: auto;
    right: 0;
    display: block !important;

    ul li {
      display: block;
    }
  }

  .nav-ul-li {
    ul {
      position: sticky !important;
      width: auto !important;

      &:before {
        display: none !important;
      }
    }

    a {
      justify-content: center;
    }
  }

  .nav-ul-li-mobile {
    display: block !important;
  }

  .ul-config-li-mobile {
    display: inline-block !important;
  }
}
