<div class="container">
  <div class="page-content">
    <div class="basic">
      <app-basic-form-navigation [navigation]="navigation"></app-basic-form-navigation>

      <div class="basic-form">
        <app-page-header [header]="pageHeader"></app-page-header>

        <form [formGroup]="myForm">
          <mat-tab-group [selectedIndex]="navigation.selectedItem" class="tab-no-labels">
            <mat-tab>
              <div class="label-group">
                <app-search-loading-unique class="label-w50" [search]="searchPeople"></app-search-loading-unique>
                <app-search-loading-unique class="label-w50" [search]="searchNatureOperation"></app-search-loading-unique>
              </div>

            </mat-tab>

            <mat-tab>
              <div class="shopping-budget">
                <div class="shopping-budget-grid">
                  <ul class="shopping-budget-grid-header">
                    <li style="width: 25%">Produto/Serviço</li>
                    <li style="width: 30%">Detalhes do item</li>
                    <li style="text-align: right">Quantidade</li>
                    <li style="text-align: right">Valor</li>
                    <li style="text-align: right">Subtotal</li>
                  </ul>

                  <ng-container formArrayName="products">
                    <div *ngFor="let product of products.controls; index as i" class="shopping-budget-grid-list">
                      <ng-container [formGroupName]="i">
                        <div class="label-group">
                          <app-search-loading-unique style="width: 25%" [search]="productsOutPut[i]" (eventEmit)="selectProduct($event, i)"></app-search-loading-unique>

                          <label style="width: 30%">
                            <span class="label-title">Detalhes do item</span>
                            <input formControlName="description" type="text">
                          </label>

                          <label>
                            <span class="label-title">Quantidade</span>
                            <input formControlName="amount" type="number" style="text-align: right" (keyup)="sumProductDetails(i)">
                          </label>

                          <label>
                            <span class="label-title">Valor</span>
                            <input formControlName="cost_value" currencyMask type="text" style="text-align: right" (keyup)="sumProductDetails(i)">
                          </label>

                          <label>
                            <span class="label-title">Subtotal</span>
                            <input formControlName="subtotal" currencyMask type="text" style="text-align: right" readonly>
                          </label>

                          <button class="add-item" mat-icon-button (click)="removeProduct(i)" *ngIf="products.length > 1">
                            <mat-icon>clear</mat-icon>
                          </button>
                        </div>
                      </ng-container>
                    </div>
                  </ng-container>
                </div>

                <div class="shopping-budget-footer">
                  <div class="amount-button-add">
                    <button mat-button (click)="addProduct(null)">Adicionar mais uma linha</button>
                    <div class="amount">
                      <p>Valor total</p>
                      <h2>{{myForm.value.amount | currency}}</h2>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>

            <mat-tab>
              <div class="label-group">
                <label class="label-w50">
                  <span class="field">Indicador de intermediário</span>
                  <select formControlName="indicador_intermediario">
                    <option *ngFor="let indicador of indicadorIntermediario" [value]="indicador.type">{{ indicador.name }}
                    </option>
                  </select>
                </label>

                <label class="label-w50">
                  <span class="field">Presença do comprador</span>
                  <select formControlName="presenca_comprador">
                    <option *ngFor="let comprador of presencaComprador" [value]="comprador.type">{{ comprador.name }}
                    </option>
                  </select>
                </label>
              </div>

              <div class="shopping-budget">
                <div class="shopping-budget-grid" style="border: none !important">

                  <ng-container formArrayName="payments">
                    <div *ngFor="let payment of payments.controls; index as i" class="shopping-budget-grid-list" style="border: 1px solid #C9D3DD; margin-bottom: 20px;">
                      <ng-container [formGroupName]="i">
                        <div class="label-group">
                          <label class="label-w30">
                            <span class="field">Indicador de pagamento</span>
                            <select formControlName="indicador_pagamento">
                              <option *ngFor="let indicador of indicadorPagamento" [value]="indicador.type">{{ indicador.name }}
                              </option>
                            </select>
                          </label>

                          <label class="label-w30">
                            <span class="field">Forma de pagamento</span>
                            <select formControlName="forma_pagamento">
                              <option *ngFor="let indicador of formaPagamento" [value]="indicador.type">{{ indicador.name }}
                              </option>
                            </select>
                          </label>

                          <label class="label-w30" *ngIf="payment.value.forma_pagamento == '99'">
                            <span class="field">Descrição do pagamento</span>
                            <input formControlName="descricao_pagamento" type="text">
                          </label>

                          <label class="label-w30">
                            <span class="field">Data do pagamento</span>
                            <input formControlName="data_pagamento" type="date">
                          </label>

                          <label class="label-w30">
                            <span class="field">Valor do pagamento</span>
                            <input formControlName="valor_pagamento" prefix="R$ " mask="separator.2" thousandSeparator="." type="text" style="text-align: right">
                          </label>

                          <button class="add-item" mat-icon-button (click)="removePayment(i)">
                            <mat-icon>clear</mat-icon>
                          </button>
                        </div>

                        <div class="label-group">
                          <label class="label-w30">
                            <span class="field">Tipo de integração</span>
                            <select formControlName="tipo_integracao">
                              <option *ngFor="let tipo of integrationType" [value]="tipo.type">{{ tipo.name }}
                              </option>
                            </select>
                          </label>

                          <label class="label-w30">
                            <span class="field">CNPJ transacional</span>
                            <input formControlName="cnpj_transacional" type="text" [mask]="'00.000.000/0000-00'">
                          </label>

                          <label>
                            <span class="field">UF transacional</span>
                            <input formControlName="uf_transacional" type="text" maxlength="2">
                          </label>

                          <label class="label-w30">
                            <span class="field">CNPJ beneficiário</span>
                            <input formControlName="cnpj_beneficiario" type="text" [mask]="'00.000.000/0000-00'">
                          </label>
                        </div>

                        <div class="label-group">
                          <label class="label-w30">
                            <span class="field">CNPJ Credenciadora</span>
                            <input formControlName="cnpj_credenciadora" type="text" maxlength="2">
                          </label>

                          <label>
                            <span class="field">Bandeira operadora</span>
                            <select formControlName="bandeira_operadora">
                              <option *ngFor="let bandeira of flagOperator" [value]="bandeira.type">{{ bandeira.name }}
                              </option>
                            </select>
                          </label>

                          <label class="label-w30">
                            <span class="field">Número de autorização</span>
                            <input formControlName="numero_autorizacao" type="text">
                          </label>

                          <label class="label-w30">
                            <span class="field">CNPJ beneficiário</span>
                            <input formControlName="cnpj_beneficiario" type="text" [mask]="'00.000.000/0000-00'">
                          </label>

                          <label class="label-w30">
                            <span class="field">Id Terminal Pagamento</span>
                            <input formControlName="id_terminal_pagamento" type="text" maxlength="40">
                          </label>
                        </div>
                      </ng-container>
                    </div>
                  </ng-container>
                </div>

                <div class="shopping-budget-footer">
                  <div class="amount-button-add">
                    <button mat-button (click)="addPayment(null)">Adicionar mais uma linha</button>
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </form>

        <app-basic-form-buttons [navigation]="navigationButtons"></app-basic-form-buttons>
      </div>
    </div>
  </div>
</div>

<app-loading-full [loadingFull]="loadingFull"></app-loading-full>
