<div class="container">
  <div class="page-content">
    <div class="basic">
      <app-basic-form-navigation [navigation]="navigation" class="hide-62em"></app-basic-form-navigation>

      <div class="basic-form">
        <app-page-header [header]="pageHeader"></app-page-header>

        <form [formGroup]="myForm">
          <mat-tab-group [selectedIndex]="navigation.selectedItem" class="tab-no-labels">
            <mat-tab>
              <div class="label-group">
                <label class="label-w30">
                  <span class="field">Tipo de pessoa:</span>
                  <select formControlName="people_type">
                    <option *ngFor="let role of peopleRole" [value]="role.type">{{ role.name }}
                    </option>
                  </select>
                </label>

                <label class="label-w30">
                  <div class="double-spans">
                    <span class="field">{{myForm.value.people_type === 0 ? 'CPF:' : 'CNPJ:'}}</span>
                    <span *ngIf="myForm.value.people_type == '1'" class="field-right-search" (click)="getCNPJ()">Consultar CNPJ</span>
                  </div>
                  <input [ngClass]="{'errorValidation': getValidation('document')}" formControlName="document" type="text"
                    [mask]="myForm.value.people_type == 0 ? '000.000.000-00' : '00.000.000/0000-00'" placeholder="Número do Documento">
                </label>

                <label class="label-w100">
                  <span class="field">{{myForm.value.people_type == 0 ? 'Nome:' : 'Nome Fantasia:'}}</span>
                  <input [ngClass]="{'errorValidation': getValidation('name')}" formControlName="name" type="text" placeholder="Nome completo, Nome fantasia da empresa...">
                </label>
              </div>

              <div class="label-group">
                <label *ngIf="myForm.value.people_type == 0">
                  <span class="field">RG:</span>
                  <input formControlName="general_record" type="text" placeholder="Somente números">
                </label>

                <label class="label-w100">
                  <span class="field">E-mail principal</span>
                  <input formControlName="email" type="email">
                </label>

                <label class="label-w30">
                  <span class="field">Telefone comercial</span>
                  <input formControlName="phone" type="text">
                </label>

                <label class="label-w30">
                  <span class="field">{{myForm.value.people_type == 0 ? 'Nascimento:' : 'Data abertura:'}}</span>
                  <input formControlName="birth" type="date">
                </label>
              </div>

              <div class="label-group-check">
                <span class="title">Tipo de pessoa</span>
                <div class="checks">
                  <label class="check">
                    <input type="checkbox" disabled [checked]="roleActive(0)">
                    <span>Usuário</span>
                  </label>

                  <label class="check">
                    <input type="checkbox" disabled [checked]="roleActive(1)">
                    <span>Empresa</span>
                  </label>

                  <label class="check">
                    <input type="checkbox" [checked]="roleActive(2)" (change)="onRoleChange(2, $event)">
                    <span>Cliente</span>
                  </label>

                  <label class="check">
                    <input type="checkbox" [checked]="roleActive(3)" (change)="onRoleChange(3, $event)">
                    <span>Fornecedor</span>
                  </label>

                  <label class="check">
                    <input type="checkbox" [checked]="roleActive(4)" (change)="onRoleChange(4, $event)">
                    <span>Transportadora</span>
                  </label>
                </div>
              </div>

              <div class="basic-form-header" style="margin: 20px 0;" *ngIf="roleActive(4)">
                <h3>Dados de Transportadora</h3>
              </div>

              <div formGroupName="transporter" *ngIf="roleActive(4)">
                <div class="label-group">
                  <label class="label-w30">
                    <span class="field">RNTRC</span>
                    <input formControlName="national_transport_registration" type="text" placeholder="RNTRC(ANTT)" maxlength="8">
                  </label>

                  <label>
                    <span class="field">Vínculo com o Transportador</span>
                    <select formControlName="vehicle_owner_type">
                      <option *ngFor="let role of vehicleOwnerType" [value]="role.type">{{ role.name }}
                      </option>
                    </select>
                  </label>

                  <label>
                    <span class="field">Tipo de Transportador</span>
                    <select formControlName="transport_type">
                      <option *ngFor="let role of transportType" [value]="role.type">{{ role.name }}
                      </option>
                    </select>
                  </label>
                </div>
              </div>
            </mat-tab>

            <mat-tab>
              <div class="label-group" *ngIf="myForm.value.people_type == 1">
                <label class="label-w100">
                  <span class="field">Razão social:</span>
                  <input formControlName="social_name" type="text" placeholder="Nome registrado da empresa">
                </label>

                <label class="check">
                  <input type="checkbox" formControlName="simple">
                  <span>Optante pelo simples?</span>
                </label>
              </div>

              <div class="label-group">
                <label class="label-w30">
                  <span class="field">In. Inscrição Estadual:</span>
                  <select formControlName="state_registration_indicator">
                    <option *ngFor="let state of stateRegistrationIndicator" [value]="state.type">{{ state.name }}
                    </option>
                  </select>
                </label>

                <label *ngIf="myForm.value.state_registration_indicator != 2">
                  <span class="field">Inscrição Estadual:</span>
                  <input formControlName="state_registration" type="text" placeholder="Número da inscrição estadual">
                </label>

                <label *ngIf="myForm.value.people_type == 1">
                  <span class="field">Inscrição municipal:</span>
                  <input formControlName="municipal_registration" type="text" placeholder="Número da inscrição municipal">
                </label>

                <label *ngIf="myForm.value.people_type == 1">
                  <span class="field">Inscrição Suframa:</span>
                  <input formControlName="inscription_suframa" type="text" placeholder="Número da inscrição Suframa">
                </label>
              </div>

              <div class="label-group">
                <label class="label-w100">
                  <span class="field">CRT:</span>
                  <select formControlName="crt">
                    <option *ngFor="let options of crt" [value]="options.type">{{ options.name }}
                    </option>
                  </select>
                </label>

                <label class="label-w100">
                  <span class="field">Regime Especial:</span>
                  <select formControlName="special_regime">
                    <option *ngFor="let options of specialRegime" [value]="options.type">{{ options.name }}
                    </option>
                  </select>
                </label>
              </div>

              <div class="basic-form-header" style="margin-bottom: 20px;">
                <h3>Certificado</h3>
              </div>

              <div class="certificado">
                <div class="label-group">
                  <label>
                    <div class="double-spans">
                      <span class="field">Certificado</span>
                      <span class="field-right-search" (click)="selectCertificadoButton()">Selecionar</span>
                    </div>
                    <input readonly [value]="getDetailsCertificado()"  type="text" placeholder="Selecione o certificado">
                  </label>

                  <label>
                    <span class="field">Senha:</span>
                    <input formControlName="certificate_password" type="text" placeholder="Senha do certificado">
                  </label>
                </div>

                <input #fileInputCertificado type="file" accept=".pfx" (change)="selectCertificado($event)" hidden>
              </div>
            </mat-tab>

            <mat-tab>
              <div formGroupName="address">
                <div class="label-group">
                  <label>
                    <div class="double-spans"><span class="field">CEP:</span>
                      <span class="field-right-search" (click)="getCEP()">Consultar CEP</span>
                    </div>
                    <input formControlName="zip_code" type="text" mask="00000-000" placeholder="Número">
                  </label>

                  <label class="label-w100">
                    <span class="field">Endereço:</span>
                    <input formControlName="address" type="text" placeholder="Rua, Av, Br, etc...">
                  </label>

                  <label>
                    <span class="field">Número:</span>
                    <input formControlName="number" type="text" placeholder="Número ou SN">
                  </label>
                </div>

                <div class="label-group">
                  <label>
                    <span class="field">Estado:</span>
                    <input formControlName="state" type="text" placeholder="Sigla">
                  </label>

                  <label>
                    <span class="field">Cidade:</span>
                    <input formControlName="city" type="text" placeholder="Nome...">
                  </label>

                  <label>
                    <span class="field">Cidade IBGE:</span>
                    <input formControlName="code_ibge" type="text" placeholder="Código ibge...">
                  </label>

                  <label class="label-w30">
                    <span class="field">Bairro:</span>
                    <input formControlName="district" type="text" placeholder="Nome do bairro">
                  </label>

                  <label class="label-w30">
                    <span class="field">Complemento:</span>
                    <input formControlName="complement" type="text" placeholder="Tipo, cor, etc...">
                  </label>
                </div>
              </div>
            </mat-tab>

            <mat-tab>
              <div class="shopping-budget">
                <div class="shopping-budget-grid" style="border: none !important">
                  <ng-container formArrayName="contacts">
                    <div *ngFor="let contact of contacts.controls; index as i" class="shopping-budget-grid-list" style="border: 1px solid #C9D3DD; margin-bottom: 20px;">
                      <ul class="shopping-budget-grid-header" style="padding: 0 10px;">
                        <li style="width: 50%;">Contato</li>
                        <li style="width: 30%;">Email</li>
                        <li style="width: 20%;">Telefone</li>
                      </ul>

                      <ng-container [formGroupName]="i">
                        <div class="label-group">
                          <app-search-loading-unique style="width: 50%" [search]="contactsOutPut[i]" (eventEmit)="selectContact($event, i)"></app-search-loading-unique>

                          <label style="width: 30%">
                            <span class="label-title">Email</span>
                            <input formControlName="email" type="text" readonly>
                          </label>

                          <label style="width: 20%">
                            <span class="label-title">Telefone</span>
                            <input formControlName="phone" type="text" readonly>
                          </label>

                          <button class="add-item" mat-icon-button (click)="removeContact(i)">
                            <mat-icon>clear</mat-icon>
                          </button>
                        </div>
                      </ng-container>
                    </div>
                  </ng-container>
                </div>

                <div class="shopping-budget-footer">
                  <div class="amount-button-add">
                    <button mat-button (click)="addContact(null)">Adicionar contato</button>
                  </div>
                </div>
              </div>
            </mat-tab>

            <mat-tab>
              <div class="shopping-budget">
                <div class="shopping-budget-grid" style="border: none !important">
                  <ng-container formArrayName="vehicles">
                    <div *ngFor="let vehicle of vehicles.controls; index as i" class="shopping-budget-grid-list" style="border: 1px solid #C9D3DD; margin-bottom: 20px;">
                      <ul class="shopping-budget-grid-header" style="padding: 0 10px;">
                        <li style="width: 30%;">Marca</li>
                        <li style="width: 30%;">Modelo</li>
                        <li style="width: 20%;">Ano</li>
                        <li style="width: 30%;">Placa</li>
                      </ul>

                      <ng-container [formGroupName]="i">
                        <div class="label-group">
                          <app-search-loading-unique style="width: 50%" [search]="vehiclesOutPut[i]" (eventEmit)="selectVehicle($event, i)"></app-search-loading-unique>

                          <label style="width: 30%">
                            <span class="label-title">Marca</span>
                            <input formControlName="brand" type="text" readonly>
                          </label>

                          <label style="width: 30%">
                            <span class="label-title">Modelo</span>
                            <input formControlName="model" type="text" readonly>
                          </label>

                          <label style="width: 20%">
                            <span class="label-title">Ano</span>
                            <input formControlName="year" type="text" readonly>
                          </label>

                          <label style="width: 30%">
                            <span class="label-title">Placa</span>
                            <input formControlName="license_plate" type="text" readonly>
                          </label>

                          <button class="add-item" mat-icon-button (click)="removeVehicle(i)">
                            <mat-icon>clear</mat-icon>
                          </button>
                        </div>
                      </ng-container>
                    </div>
                  </ng-container>
                </div>

                <div class="shopping-budget-footer">
                  <div class="amount-button-add">
                    <button mat-button (click)="addVehicle(null)">Adicionar veículo</button>
                  </div>
                </div>
              </div>
            </mat-tab>

            <mat-tab *ngIf="myForm.value.id !== 0">
              <div class="shopping-budget">
                <div class="shopping-budget-grid" style="border: none !important">
                  <ng-container formArrayName="keys">
                    <div *ngFor="let key of keys.controls; index as i" class="shopping-budget-grid-list" style="border: 1px solid #C9D3DD; margin-bottom: 20px;">
                      <ul class="shopping-budget-grid-header" style="padding: 0 10px;">
                        <li>Tipo de Chave</li>
                        <li>Validade</li>
                        <li style="width: 50%;">Chave</li>
                      </ul>

                      <ng-container [formGroupName]="i">
                        <div class="label-group">
                          <label>
                            <span class="label-title">Obrigatório</span>
                            <select formControlName="role">
                              <option [value]="1">CTrix ERP</option>
                            </select>
                          </label>

                          <label>
                            <span class="label-title">Validade</span>
                            <input formControlName="due_date" type="date">
                          </label>

                          <label style="width: 50%">
                            <span class="label-title">Chave</span>
                            <input formControlName="key" type="text">
                          </label>

                          <label>
                            <button mat-icon-button (click)="gerenateKey(i)">
                              <mat-icon>key</mat-icon>
                            </button>
                          </label>

                          <label>
                            <p style="font-size: 12px; text-align: center; margin-top: 10px;">{{getDaysKey(i)}}</p>
                          </label>

                          <button class="add-item" mat-icon-button (click)="removeKey(i)">
                            <mat-icon>clear</mat-icon>
                          </button>
                        </div>
                      </ng-container>
                    </div>
                  </ng-container>
                </div>

                <div class="shopping-budget-footer">
                  <div class="amount-button-add">
                    <button mat-button (click)="addKey(null)">Adicionar mais uma chave</button>
                  </div>
                </div>
              </div>
            </mat-tab>

            <mat-tab *ngIf="myForm.value.id !== 0">
              <mat-tab-group class="tab-labels">
                <mat-tab label="Cadastro" *ngIf="myForm.value.id !== 0">
                  <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">table</mat-icon>
                    Cadastro
                  </ng-template>

                  <div class="shopping-budget">
                    <div class="shopping-budget-grid" style="border: none !important">
                      <ng-container formArrayName="backups">
                        <div *ngFor="let backup of backups.controls; index as i" class="shopping-budget-grid-list" style="border: 1px solid #C9D3DD; margin-bottom: 20px;">
                          <ul class="shopping-budget-grid-header" style="padding: 0 10px;">
                            <li>Ativo</li>
                            <li>Tipo</li>
                            <li style="width: 30%">Nome</li>
                            <li style="width: 50%">Local</li>
                          </ul>

                          <ng-container [formGroupName]="i">
                            <div class="label-group">
                              <label>
                                <span class="label-title">Obrigatório</span>
                                <select formControlName="active">
                                  <option [value]="false">Desativado</option>
                                  <option [value]="true">Ativado</option>
                                </select>
                              </label>

                              <label>
                                <span class="label-title">Obrigatório</span>
                                <select formControlName="role">
                                  <option [value]="0">Outros</option>
                                  <option [value]="1">Banco de dados</option>
                                  <option [value]="2">NFe</option>
                                  <option [value]="3">NFCe</option>
                                </select>
                              </label>

                              <label style="width: 30%">
                                <span class="label-title">Nome</span>
                                <input formControlName="name" type="text">
                              </label>

                              <label style="width: 50%">
                                <span class="label-title">Local</span>
                                <input formControlName="path" type="text">
                              </label>

                              <button class="add-item" mat-icon-button (click)="removeBackup(i)">
                                <mat-icon>clear</mat-icon>
                              </button>
                            </div>
                          </ng-container>
                        </div>
                      </ng-container>
                    </div>

                    <div class="shopping-budget-footer">
                      <div class="amount-button-add">
                        <button mat-button (click)="addBackup(null)">Adicionar</button>
                      </div>
                    </div>
                  </div>
                </mat-tab>

                <mat-tab label="Banco de Dados" *ngIf="myForm.value.id !== 0">
                  <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">table</mat-icon>
                    Banco de dados
                  </ng-template>

                  <section class="files">
                    <div *ngFor="let file of files" class="file-item">
                      <i class="file-icon fas fa-hdd"></i>
                      <div class="file-info">
                        <p class="file-name">{{ file.name }}</p>
                        <p class="file-date">{{ file.client_modified | date:'mediumDate' }} | {{formatBytes(file.size, 2)}}
                        </p>
                      </div>
                      <button class="action-btn" mat-button (click)="downloadFile(file.path_display)">Baixar</button>
                    </div>
                    <div *ngIf="files.length === 0" class="no-files-message">
                      Nenhum resultado encontrado
                    </div>
                  </section>
                </mat-tab>

                <mat-tab label="XML NFe" *ngIf="myForm.value.id !== 0">
                  <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">description</mat-icon>
                    XML NFe
                  </ng-template>

                  <section class="files">
                    <div *ngFor="let nfe of nfe" class="file-item">
                      <i class="file-icon fas fa-file"></i>
                      <div class="file-info">
                        <p class="file-name">{{ nfe.name }}</p>
                        <p class="file-date">{{ nfe.client_modified | date:'mediumDate' }} | {{formatBytes(nfe.size,
                          2)}}
                        </p>
                      </div>
                      <button class="action-btn" mat-button (click)="downloadFile(nfe.path_display)">Baixar</button>
                    </div>
                    <div *ngIf="nfe.length === 0" class="no-files-message">
                      Nenhum resultado encontrado
                    </div>
                  </section>
                </mat-tab>

                <mat-tab label="XML NFCe" *ngIf="myForm.value.id !== 0">
                  <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">receipt_long</mat-icon>
                    XML NFCe
                  </ng-template>

                  <section class="files">
                    <div *ngFor="let nfce of nfce" class="file-item">
                      <i class="file-icon fas fa-receipt"></i>
                      <div class="file-info">
                        <p class="file-name">{{ nfce.name }}</p>
                        <p class="file-date">{{ nfce.client_modified | date:'mediumDate' }} | {{formatBytes(nfce.size,
                          2)}}
                        </p>
                      </div>
                      <button class="action-btn" mat-button (click)="downloadFile(nfce.path_display)">Baixar</button>
                    </div>
                    <div *ngIf="nfce.length === 0" class="no-files-message">
                      Nenhum resultado encontrado
                    </div>
                  </section>
                </mat-tab>
              </mat-tab-group>
            </mat-tab>

            <mat-tab>
              <div class="shopping-budget">
                <div class="shopping-budget-grid" style="border: none !important">
                  <ng-container formArrayName="remoteAccess">
                    <div *ngFor="let access of remoteAccess.controls; index as i" class="shopping-budget-grid-list" style="border: 1px solid #C9D3DD; margin-bottom: 20px;">
                      <ul class="shopping-budget-grid-header" style="padding: 0 10px;">
                        <li>Tipo</li>
                        <li style="width: 30%; margin-left: 10px;">Nome</li>
                        <li style="width: 30%; margin-left: 10px;">Id Acesso</li>
                        <li style="width: 20%; margin-left: 10px;">Senha</li>
                      </ul>

                      <ng-container [formGroupName]="i">
                        <div class="label-group">
                          <label>
                            <span class="label-title">Obrigatório</span>
                            <select formControlName="role">
                              <option [value]="0">RustDesk</option>
                              <option [value]="1">AnyDesk</option>
                            </select>
                          </label>

                          <label style="width: 30%">
                            <span class="label-title">Nome</span>
                            <input formControlName="name" type="text">
                          </label>

                          <label style="width: 30%">
                            <span class="label-title">Id</span>
                            <input formControlName="access_id" type="text">
                          </label>

                          <label style="width: 20%">
                            <span class="label-title">Senha</span>
                            <input formControlName="access_password" type="text">
                          </label>

                          <label>
                            <button mat-icon-button (click)="openRemoteAccess(i)">
                              <mat-icon>link</mat-icon>
                            </button>
                          </label>

                          <button class="add-item" mat-icon-button (click)="removeRemoteAccess(i)">
                            <mat-icon>clear</mat-icon>
                          </button>
                        </div>
                      </ng-container>
                    </div>
                  </ng-container>
                </div>

                <div class="shopping-budget-footer">
                  <div class="amount-button-add">
                    <button mat-button (click)="addRemoteAccess(null)">Adicionar</button>
                  </div>
                </div>
              </div>
            </mat-tab>

            <mat-tab>
              <div class="label-group">
                <label class="label-w100">
                  <span class="field">Observações</span>
                  <textarea formControlName="note"></textarea>
                </label>
              </div>
            </mat-tab>
          </mat-tab-group>
        </form>

        <app-basic-form-buttons [navigation]="navigationButtons"></app-basic-form-buttons>
      </div>
    </div>
  </div>
</div>

<app-loading-full [loadingFull]="loadingFull"></app-loading-full>
