<div class="container">
  <div class="page-header">
    <h2>Novo cadastro</h2>
    <button class="button-back" mat-icon-button routerLink="/bank">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="page-content">
    <div class="basic-form">
      <div class="basic-form-header">
        <h3>Dados gerais</h3>
      </div>

      <form [formGroup]="myForm">
        <div class="label-group">
          <label class="label-w100">
            <span class="field">Nome</span>
            <input formControlName="name" type="text" placeholder="Ex: Itaipava">
          </label>

          <label>
            <span class="field">Saldo</span>
            <input formControlName="balance" currencyMask type="text">
          </label>

          <label>
            <span class="field">Data do saldo</span>
            <input formControlName="date_balance" type="date">
          </label>
        </div>
      </form>

      <div class="basic-form-footer">
        <button class="button-add" mat-button (click)="save()">
          Salvar
        </button>
      </div>
    </div>
  </div>
</div>

<app-loading-full [loadingFull]="loadingFull"></app-loading-full>
