<div class="container">
  <div class="page-content">
    <app-page-header [header]="pageHeader"></app-page-header>

    <div class="basic-form">
      <form [formGroup]="myForm">
        <div class="label-group">
          <label class="label-w100">
            <span class="field">Nome</span>
            <input formControlName="name" type="text" placeholder="Ex: Itaipava">
          </label>

          <label>
            <span class="field">Saldo</span>
            <input formControlName="balance" currencyMask type="text">
          </label>

          <label>
            <span class="field">Data do saldo</span>
            <input formControlName="date_balance" type="date">
          </label>
        </div>
      </form>

      <app-basic-form-buttons [navigation]="navigationButtons"></app-basic-form-buttons>
    </div>
  </div>
</div>

<app-loading-full [loadingFull]="loadingFull"></app-loading-full>
